/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .section {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    margin-top: 1.875rem;
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
  }
  .section:before {
    /* yellow shape */
    content: '';
    width: 12.25rem;
    /* 64px - 284px */
    height: clamp(4rem, 10vw, 17.75rem);
    background: var(--secondary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 1.875rem;
    left: 0;
    z-index: 2;
    transform: skew(-17deg);
  }
  .section:after {
    /* covers the rest of the :before shape on the left */
    content: '';
    width: 6.25rem;
    /* 64px - 284px */
    height: clamp(4rem, 10vw, 17.75rem);
    background: var(--secondary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 1.875rem;
    left: 0;
    z-index: 1;
  }
   .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    padding: var(--sectionPadding);
    /* 96px - 120px */
    padding-top: clamp(6rem, 20vw, 7.5rem);
    /* 100px - 240px */
    padding-bottom: clamp(6.25rem, 25vw, 15rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 2;
  }
   .content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
   .topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
   .title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
   .title {
    max-width: 17ch;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 3vw, 2.5rem);
    color: var(--bodyTextColorWhite);
  }
   .buttonSolid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
   .buttonSolid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
   .buttonSolid:hover:before {
    width: 100%;
  }
  .section .image {
    width: 100%;
    /* changes to 779px at large desktop */
    max-width: 25.9375rem;
    max-height: 30.125rem;
    height: auto;
    display: block;
    position: relative;
    z-index: 10;
  }
  .section .image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
   .graphicWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    display: block;
    position: absolute;
    /* same as --sectionPadding variable */
    top: clamp(3.75rem, 7.82vw, 6.25rem);
    left: 0;
    z-index: 1;
  }
   .graphic {
    width: 140vw;
    height: auto;
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: -1;
    transform: translateX(-60%) rotate(-10deg);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  .section {
    overflow: visible;
  }
   .container {
    flex-direction: row;
    overflow: hidden;
  }
   .content {
    text-align: left;
    width: 50%;
    max-width: 31.25rem;
    align-items: flex-start;
  }
   .image {
    flex: none;
    position: absolute;
    top: 5rem;
    right: 0;
  }
   .graphic {
    width: 90vw;
    max-width: 91.375rem;
    margin-left: -15.625rem;
    left: 50%;
    transform: rotate(-10deg);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .section {
    overflow: hidden;
  }
   .container {
    overflow: visible;
  }
   .image {
    width: 48vw;
    max-width: 48.6875rem;
  }
   .graphic {
    width: 80vw;
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  .section {
    overflow: hidden;
  }
  .section:before {
    height: 17.6875rem;
    width: 50vw;
    margin-right: 30.625rem;
    right: 50%;
    left: auto;
  }
  .section:after {
    height: 17.6875rem;
    width: 10vw;
  }
   .container {
    padding-left: 13.5625rem;
    padding-right: 0;
  }
   .image {
    margin-left: clamp(2rem, 4.5vw, 5rem);
    left: 50%;
    right: auto;
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .reviews {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    padding-top: 0;
  }
  .container {
    width: 100%;
    /* changed to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .picture {
    width: 100%;
    max-width: 46.125rem;
    /* 296px - 493px */
    height: clamp(18.5rem, 37vw, 30.8125rem);
    /* -75px to -120px, makes it overlap the CTA section above, changes at tablet */
    margin-top: calc(clamp(4.6875rem, 13vw, 7.5rem)*-1);
    display: block;
    position: relative;
    z-index: 10;
  }
  .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .reviewGroup {
    width: 90%;
    max-width: 39.375rem;
    /* makes it overlap the image, removed at tablet */
    margin-top: -2.625rem;
    /* 24px - 80px */
    padding: clamp(1.5rem, 5.5vw, 5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    z-index: 10;
  }
  .icon {
    /* 48px - 97px */
    width: clamp(3rem, 7vw, 6rem);
    height: auto;
    display: block;
  }
  .reviewText {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColor);
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  .profile {
    width: 3.125rem;
    height: auto;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #fff;
  }
  .name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  .desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  .container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
  }
  .picture {
    /* changes at desktop */
    width: 47%;
    margin: 0;
    position: absolute;
    top: calc(clamp(4.6875rem, 13vw, 7.5rem)*-1);
    left: 0;
  }
  .reviewGroup {
    width: 57%;
    margin: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .picture {
    width: 55%;
  }
}
