/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .sideBySideStandard {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
   .csContainer {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
   .csContent {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
   .csTopper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
   .csTitle {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
   .csText {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
   .csText {
    /* Override.  csTopper csTitle and first csText should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
   .csText:last-of-type {
    margin-bottom: 2rem;
  }
   .csH3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem;
    color: var(--headerColor);
  }
   .csContentFlair {
    width: 100%;
    margin: 0 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 1.25rem;
  }
   .csUl {
    width: 100%;
    margin: 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
   .csLi {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 25rem;
    margin: 0;
    color: var(--bodyTextColor);
    position: relative;
  }
   .csLi:before {
    /* bullet */
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.9375rem;
  }
   .csVideoLink {
    width: 100%;
    /* changes to 160px at desktop */
    height: 12.5rem;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
   .csVideoLink:hover .csVideoBg {
    transform: scale(1.2);
    opacity: .5;
  }
   .csVideoLink:hover .csWrapper {
    transform: scale(1.2);
  }
   .csVideoBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .6s, opacity .3s;
  }
   .csWrapper {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .75s;
  }
   .csButtonSolid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #1a1a1a;
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color .3s;
  }
   .csButtonSolid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
   .csButtonSolid:hover {
    color: #fff;
  }
   .csButtonSolid:hover:before {
    width: 100%;
  }
   .csImageGroup {
    width: 100%;
    max-width: 49.5625rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }
   .csPicture {
    /* width 100% so we can match the border radius with the circle graphic easier */
    width: 100%;
    max-width: 28.75rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
   .csPicture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
   .csGraphic {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
   .csBox {
    /* 16px - 32px top & bottom */
    /* 16px - 24px */
    padding: clamp(1rem, 2.9vw, 2rem) clamp(1rem, 2.7vw, 1.5rem);
    background-color: #fff;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* 85px - 200px */
    top: clamp(5.3125rem, 12vw, 12.5rem);
    right: 0;
  }
   .csBoxIcon {
    /* 24px - 40px */
    width: clamp(1.5rem, 4vw, 2.5rem);
    height: auto;
    margin: 0 0 0.75rem;
    display: block;
  }
   .csBoxHeader {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 3vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.75rem;
    color: var(--primary);
  }
   .csBoxUl {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
   .csBoxLi {
    list-style: none;
    /* 12px - 14px */
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
   .csStat {
    /* 20px - 32px top & bottom */
    /* 12px - 24px */
    padding: clamp(1.25rem, 3vw, 2rem) clamp(0.75rem, 3vw, 1.5rem);
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    /* 40px - 120px */
    bottom: clamp(2.5rem, 7vw, 6.25rem);
  }
   .csRingWrapper {
    /* 80px - 100px */
    width: clamp(5rem, 10vw, 6.25rem);
    position: relative;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
  }
   .csNumber {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 900;
    /* prevents mouse from interacting with it */
    pointer-events: none;
    line-height: 1.2em;
    color: var(--bodyTextColorWhite);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
   .csHeader {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.1vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem;
    color: var(--bodyTextColorWhite);
  }
   .csDesc {
    /* 12px - 14px */
    font-size: clamp(0.75rem, 1.4vw, 0.875rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
   .csRing {
    --ring-width: 3px;
    width: calc(100% - var(--ring-width));
    aspect-ratio: 1;
    overflow: visible;
    pointer-events: none;
    rotate: -90deg;
    scale: 1 -1;
  }
   .csRing circle {
    fill: none;
    stroke: #F7F7F7;
    stroke-width: var(--ring-width);
  }
   .csRing circle {
    stroke: var(--secondaryLight);
    stroke-linecap: round;
    stroke-dasharray: calc(var(--ratio) * 314%) 314%;
    transition: stroke-dasharray 1s;
  }
   .csStat:hover .csRing {
    --ratio: 0 !important;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
   .csContainer {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
   .csContent {
    width: 45%;
  }
   .csUl {
    width: 45%;
    max-width: 15.125rem;
  }
   .csVideoLink {
    width: 50%;
    max-width: 17.5rem;
    height: 10rem;
  }
   .csImageGroup {
    width: 50%;
    margin-top: auto;
    /* same exact clamp as the sectionPadding variable */
    margin-bottom: calc(clamp(3.75rem, 7.82vw, 6.25rem)*-1);
    left: 0;
  }
   .csPicture {
    /* changes to 719px at large desktop */
    width: 90%;
    max-width: 32.625rem;
  }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
   .csImageGroup {
    width: 44.9375rem;
    left: -5.625rem;
  }
   .csPicture {
    width: 44.9375rem;
    height: 49.5625rem;
  }
   .csPicture img {
    width: 100%;
    height: auto;
    max-height: 49.5625rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
   .csGraphic {
    width: 59.375rem;
    top: -6.25rem;
  }
}
