/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .csContainer {
    max-width: 80rem;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  .csTopper {
    line-height: 1.2em;
    letter-spacing: .1em;
  }
  .csTitle {
    font-size: var(--headerFontSize);
    line-height: 1.2em;
    max-width: 43.75rem;
  }

  .csMenu {
    column-gap: 1.25rem;
    /* 28px - 40px */
    row-gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  .csMenuGroup {
    max-width: 37.5rem;
    /* 28px - 40px */
    gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  .csH3:before {
    /* grey line */
    top: 0.8125rem;
    z-index: -1;
  }
  .csHeader {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    max-width: 25rem;
  }
  .csPrice {
    line-height: 1.5em;
  }
  .csMenuText {
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
}