/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .section {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #F7F7F7;
    /* prevents overflow from overlapping quote icon */
    overflow: hidden;
    position: relative;
  }
  .image {
    width: 100%;
    max-height: 28.125rem;
    display: block;
    position: relative;
    aspect-ratio: 0.94736842;
  }
  .image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .content {
    max-width: 39.375rem;
    padding: var(--sectionPadding);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  .review {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 3.9vw, 2.4375rem);
    text-align: left;
    margin: 0;
    /* 28px - 40px */
    margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  .quote {
    width: 2.5rem;
    height: auto;
    margin-bottom: 2rem;
    display: block;
  }
  .info {
    display: flex;
    justify-content: auto;
    align-items: center;
  }
  .flex {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: content;
  }
  .profile {
    width: 3.125rem;
    height: auto;
    margin-right: 0.75rem;
    border-radius: 50%;
    display: block;
  }
  .name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    color: var(--headerColor);
    display: block;
    flex-basis: content;
  }
  .job {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    width: 12.5rem;
    color: var(--bodyTextColor);
    display: block;
    flex-basis: content;
  }
  .watermark {
    /* 87px - 136px */
    width: clamp(5.4375rem, 12.2vw, 8.5rem);
    height: auto;
    opacity: .09;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  .section {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  .image {
    width: 44%;
    height: auto;
    max-height: 100%;
    /* prevent flexbox from squishing it */
    flex: none;
    aspect-ratio: initial;
  }
  .content {
    /* 76px - 128px */
    padding-left: clamp(4.75rem, 10vw, 8rem);
    padding-right: 2rem;
  }
  .watermark {
    /* 16px - 175px */
    right: calc(clamp(1rem, 9.5vw, 10.9375rem) * -1);
  }
}
